
body {
    display: flex;
    
    justify-content: space-around;
    align-items: center;
}
.container {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.play-area {
    display: flex;
    flex-direction: column;
}

.bigDabba {
    display: flex;
    gap: 3px;
}
.smallDabba {
    background-color: greenyellow;
}