
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.bigDabba {
    display: flex;
    gap: 3px;
}
.smallDabba {
    background-color: greenyellow;
}